<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/images/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="./static/main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('./static/assets/images/img-08.jpg')"
></div>


<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Hey, I am Ananthu
       Kesava</h1>
      <p>Master Student/Mechatronic Engineer</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://twitter.com/ks_ananthu4" title="">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/ananthu-kesava-70140b160/" title="">
          <i class="fa fa-linkedin"></i>
        </a>
      </p>
    </div>
  </header>

        <div class="card">
          <div class="card-block">
            Thank you! for the message.
          </div>
        </div>

<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="./static/assets/images/img-01.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p> I am an engineer and I love to make impossible possible using my engineering skills. My hobby in sketching and love towards mathematics drive me towards engineering. I believe the language of maths and geometry can be building blocks to solve barriers around us.
              </p>
              <p>I have fond for designing and solve problem in creative way. As a Mechatronics master student specialised in Cyber physical system my motive of study is to make life easier by automating things around. Use of machine learning algorithms and deep learning to model. My career dream is to use my expertise in Industry 4.0 design.</p>
              <p> Creativity and innovation to design new models or modify existing to produce more simpler but powerfull is my passion. Choosing Robotics and other high end technologies to gain wisdom was my path for pursuing my passion.</p>

              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2019 - Present</small>
                  <h3 class="h5 date-title">Masters of Engineering - Mechatronics and cyber physical system </h3>
             
                  <p>Techniche Hochschule Deggendorf</p>
                </div>
                
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2018-2014</small>
                  <h3 class="h5 date-title">Bachelors degree - Mechatronics Engineering</h3>
                  <p>University of Calicut</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div class="row">
            	<div class="col-md-4">
                <img src="./static/assets/images/img-00.jpeg" class="img-responsive" alt="">
                <h3 class="h5">Python - Programming GUI for  mask donation</h3>
                <p>May 2020</p>
              </div>
              <div class="col-md-4">
                <img src="./static/assets/images/img-02.jpg" class="img-responsive" alt="">
                <h3 class="h5">Design of Siezure detecting smartband </h3>
                <p>June 2018</p>
              </div>
              <div class="col-md-4">
                <img src="./static/assets/images/img-03.jpg" class="img-responsive" alt="">
                <h3 class="h5">Modeling and design of an automated cradle using PIC microprocessor</h3>
                <p>March 2017</p>
              </div>
              
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Case-studies</h2>
            <div class="work-experience">
              <small class="date">2020 February</small>
              <h3 class="h5 date-title">Case Study VR/AR in System Engineering - <a title="Case-studies">Augmented Reality in the field of journalism / featuring content in 3D. </a></h3>

              <p>AR and VR are the high end technologies where reality is simulated virtually. The application of AR for entertainment as well as information simultaneously for simulating virtual world is studied. Use of unity hub for rendering 3d models to give functions in real world. Capturing 3d visuals and converting them to 3d models and simulating them in reality is interesting as  well as futuristic. An entire real life risk situations simulation, prototyping, testing designs in an informatics way to convey ideas very easily was my case study content. As an example Augmented reality in the field of journalism was implemented using Unity hub platform. I came to know AR is one of the best way to provide very precise information very productive and impressive way.</p>
            </div>

            <div class="work-experience">
              <small class="date">2020 January</small>
              <h3 class="h5 date-title">Case Study Cyber-physical production systems - <a title="">Post-processing of 3D printed objects/Additive manufacturing. </a></h3>
              
              <p>Additive manufacturing/ 3d printing is one of the production technologies we can use in cyber physical production. 3d printing is used to produce complex parts with individual customisation in a very fast way. 3d CAD models designed in CAD tools are sliced into layer digitally and printed layer by layer using a 3d printer.  By the design modification and adjusting part orientation we can  minimise supporting structure. If the situation of avoiding support structure is inevitable or the surface is not smooth, post processing will be required. Different methods for post processing are analysed and categorised based on models and the AM technologies used in 3d printer. 3d printer types, technologies , material used and 3d models influences end products surface smoothness.</p>
            </div>

            <div class="work-experience">
              <small class="date">2019 August</small>
              <h3 class="h5 date-title">Case Study Mechatronics System Simulation - <a title="">Typical application of predictive analysis- Production Planning. </a></h3>
              
              <p>Predictive analysis is one of the best tool for optimum production planning. Machine learning algorithms and deep learning are powerful way to predict data based on relevent data base. Regression as well as classification are discussed in the case study. Regression analysis layer by layer is done using Matlab and tensor-flow. The model  is used to analyse the trend of sensor data of machines to predict next possible maintenance time. By using ML the downtime of the machine in an industry is predicted. The modelling of the system was the key point in the case study.</p>
            </div>

            <div class="work-experience">
              <small class="date">2019 July</small>
              <h3 class="h5 date-title">Case Study Cooperative an autonomous systems - <a title="">Automated Guided Vehicle Systems. </a></h3>
              
              <p>Automated vehicle guided system is an autonomous system. Characteristics of the required control loops of networked systems, Sensors / actuators for vehicle control, Localisation and Mapping, Route planning, tracking and obstacle detection of the automated vehicle is researched. 3D obstacle / object recognition using Cognitive systems, machine learning and artificial intelligence are analysed.</p>
            </div>
          </div>
        </div>
        

        <div class="card">
          <div class="card-block">
            <h2>Language</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">English  <small>Bilingual</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">German  <small>Intermediate</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Malayalam  <small>Mother tongue</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="carousel-caption">
                  <h3 class="h5">Seizure detecting smart Band – an Embedded C innovation</h3>
                  <p>2018</p>
                  <p>Designed a preclinical demonstrator for real-time detection of seizure based on various body sensors. The Embedded System consist of a microprocessor (ARM Cortex M4) along with heart rate sensor, body
temperature sensor and ectodermal sensor acts independently without the help of any peripheral device and inform the dependent during the activity of seizure. It also collects details as a log during the seizure which assists the doctor during patients diagnosis. The band is compact and specially designed for epilepsy patients. The Data collected using the sensors will be used to check the trend during the siezure and predict the future incident to be happened by creating individualised algorithm. </p>
                </div>
              </div>
              <div class="item">
                <div class="carousel-caption">
                  <h3 class="h5">Python Project for mask donation</h3>
                  <p>2020</p>
                  <p>Programmed GUI for datamanagement and portal to donate masks. Such that everybody can be stay safe during the pandemic COVID-19. The programming was done in python using tkinter module, it was part of python course offered in Hochschule to get familiarised to use any python module.   </p>
                </div>
              </div>

              <div class="item">
               
                <div class="carousel-caption">
                  <h3 class="h5">Modeling and design of an automated cradle using PIC microprocessor</h3>
                  <p>2017</p>
                  <p>In this project a fully automated cradle with an artificial intelligence which act as a babysitter and serve the baby like a care taker is designed and developed. The use of different sensors and co-ordinating them to work together to actuate motors and relays. All the activity inside the cradle is recorded and monitored. The data is used to inform parents when the baby is awake or the cradle is wet. A lulluby is played when the baby cries.</p>
                </div>
              </div>
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

          </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Technical Skills</h2>
            <div class="row">
              <div class="col-md-3">
                <p> Python </p>
              </div>
              <div class="col-md-3">
                <p> C++ </p>
              </div>
              <div class="col-md-3">
                <p> Embedded C </p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons">Matlab</a></p>
              </div>
              <div class="col-md-3">
                <p> Solidworks </p>
              </div>
              <div class="col-md-3">
                <p> AutoCad </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Contact</h2>
            <form action="submit_form" method="POST" class="reveal-content">
              <div class="form-group">
                <input name="email" type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name="message" class="form-control" rows="5" placeholder="Enter your message"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class=" btn btn-primary">Send message</button>
              </div> 
            </form>
          </div>
        </div>
       
     </div>
   </div>
 </div>

</main>
<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><img src="./static/assets/images/mashup-icon.svg" alt=""></p>
        
        <p>© All right reserved. <a title="Beautiful Free Images">
        </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--><script type="text/javascript" src="./static/main.bc58148c.js"></script></body>

</html>